{% extends "base.html" %} {% block title %}About{% endblock %} {% block header
%}About{% endblock %} {% block content %}
<p>
  geotechapps is dedicated to revolutionizing foundation design for engineers.
  Our web-based platform provides a comprehensive solution for efficient and
  accurate calculations. By automating complex tasks, we empower engineers to
  focus on innovative solutions. With a user-friendly interface and reliable
  performance, geotechapps is the go-to tool for professionals seeking to
  optimize their foundation design process.
</p>

<p>
  Our mission is to simplify the engineering workflow while maintaining the
  highest standards of precision.
</p>

<h4>Links</h4>

<ul>
  <li><a href="https://linkedin.com/in/gideon-amha-g">LinkedIn</a></li>
  <li><a href="https://github.com/GideonAmhaG">GitHub</a></li>
  <li><a href="https://twitter.com/GideonAmha">Twitter</a></li>
</ul>
{% endblock %}
